<!DOCTYPE html>
<html>
  <head>
    <title>LeagueOfLegends</title>
		<link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i|Lobster|Poppins:300,400,500,600,700" rel="stylesheet">


		<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='loading_screen'>
      <div class="center">
        <%=  image_tag("ball") %>
        <h2>Loading...</h2>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
    <%= javascript_include_tag 'https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js' %>
  </body>
</html>
